%h1 ESM Cleaner Beta
= flash[:notice]

%h2 ゴミほり
%ul
- @thowers.each do |user|
  %li= user.name

%h2 掃除機
%ul
- @vacuumers.each do |user|
  %li= user.name

%h2 テーブル拭き
%ul
- @wipingers.each do |user|
  %li= user.name

%div= link_to '新規東京支社配属者を登録', :new_user
%div= link_to '東京支社一覧', :users
%div= link_to 'メールを出す', mailto

- if Rails.env == 'development'
  %hr
  %h3 以下は開発時のみ表示されます
  %div= button_to 'Assign', :action => 'assign'
  %div= button_to 'Data Init', :action => 'init'

  %table
    %tr
      %th なまえ
      %th ごみほり
      %th そうじき
      %th てーぶるふき
    - @users.each do |user|
      %tr
        %td= user.name
        %td
          = user.throw_status
          = "(#{user.throw_date})"
        %td
          = user.vacuum_up_status
          = "(#{user.vacuum_up_date})"
        %td
          = user.wiping_status
          = "(#{user.wiping_date})"
