%h1 ESM Cleaner Beta
= flash[:notice]

%h2 ゴミほり
%ul
- @thowers.each do |user|
  %li= user.name

%h2 掃除機
%ul
- @vacuumers.each do |user|
  %li= user.name

%h2 テーブル拭き
%ul
- @wipingers.each do |user|
  %li= user.name

%div= link_to '新規東京支社配属者を登録', :new_user